<!-- Full Page Image Header with Vertically Centered Content -->
<header class="banner position-relative">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-bold text-white mb-md-4">{{ 'h1' | translate }}</h1>
        <h4 class="text-white mb-md-5">{{ 'c1' | translate }}</h4>
        <button type="button" class="btn btn-lg rounded-pill btn-color px-md-5 text-uppercase">{{ 'b1' | translate }}</button>
      </div>
    </div>
  </div>
  <img class="logo position-absolute" src="../assets/images/logo.png">
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="text-center font-weight-normal text-dark">{{ 'h2' | translate }}</h2>
    <div class="separator small mx-auto"></div>
    <h5 class="text-center text-secondary mb-5">{{ "c2" | translate }}<br>{{ "c3" | translate }}</h5>
    <div class="row mb-4">
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/ecommerce_money.svg" data-aos="zoom-in" class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h3" | translate }}</h5>
        <h6 class="text-secondary text-center">{{ "c4" | translate }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
          <img src="../assets/images/basic_share.svg" data-aos="zoom-in"  class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h4" | translate  }}</h5>
        <h6 class="text-secondary  text-center">{{ "c5" | translate }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/ecommerce_ticket.svg" data-aos="zoom-in"  class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h5" | translate  }}</h5>
        <h6 class="text-secondary text-center">{{ "c6" | translate  }}</h6>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/basic_message_multiple.svg" data-aos="zoom-in"  class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h6" | translate }}</h5>
        <h6 class="text-secondary text-center">{{"c7" | translate }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
          <img src="../assets/images/basic_target.svg" data-aos="zoom-in"  class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h7" | translate }}</h5>
        <h6 class="text-secondary  text-center">{{ "c8" | translate }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/ecommerce_megaphone.svg" data-aos="zoom-in" class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h8" | translate }}</h5>
        <h6 class="text-secondary text-center">{{ "c9" | translate }}</h6>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/music_bell.svg" data-aos="zoom-in" class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h9" | translate  }}</h5>
        <h6 class="text-secondary text-center">{{ "c10" | translate }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/weather_libra.svg" data-aos="zoom-in" class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h10" | translate  }}</h5>
        <h6 class="text-secondary  text-center">{{ "c11" | translate }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <img src="../assets/images/ecommerce_graph_increase.svg" data-aos="zoom-in" class="mb-3">
        <h5 class="font-weight-normal text-center text-dark">{{ "h11" | translate }}</h5>
        <h6 class="text-secondary text-center">{{ "c12" | translate }}</h6>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h2 class="text-center font-weight-normal text-dark">{{ 'h12' | translate }}</h2>
    <h5 class="text-center text-secondary mb-5">{{ "c13" | translate  }}</h5>
    <div class="separator small mx-auto"></div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 order-2 order-sm-2 order-md-1">
        <h2>{{ "h13" | translate  }}</h2>
        <p>{{"c14"  | translate }}</p>
        <p>{{ "c15"  | translate  }}</p>
        <h6>{{ "c16"  | translate  }}</h6>
      </div>
      <div class="col-12 col-sm-12 col-md-6 text-center order-1 order-sm-1 order-md-2">
        <img src="../assets/images/Features1_350.png" class="mw-100" data-aos="fade-up" >
      </div>
    </div>
    <div class="separator small mx-auto"></div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 text-center">
        <img src="../assets/images/Feature2_350.png" class="mw-100" data-aos="fade-up" >
      </div>
      <div class="col-12 col-sm-12 col-md-6">
        <h2>{{ "h14" | translate }}</h2>
        <p>{{ "c17" | translate }}</p>
        <p>{{ "c18" | translate }}</p>
        <p>{{ "c19" | translate }}</p>
      </div>
    </div>
    <div class="separator small mx-auto"></div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6  order-2 order-sm-2 order-md-1">
        <h2>{{ "h15" | translate  }}</h2>
        <p>{{ "c20" | translate }}</p>
        <p>{{ "c21"  | translate }}</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 order-1 order-sm-1 order-md-2 text-center">
        <img src="../assets/images/Image_Features_Dat-1.png" class="mw-100" data-aos="fade-up" >
      </div>
    </div>
  </div>
</section>
<section>
  <div class="position-relative signup-form">
    <div class="container py-5">
      <h2 class="font-weight-bold text-center text-white">{{ "h16"  | translate }}</h2>
      <h4 class="text-center text-white pb-3">{{ "c22" | translate }}</h4>
      <h4 class="text-center text-white font-weight-light">{{ "c23" | translate }}</h4>
      <form>
        <div class="row mb-3">
          <div class="col-12 col-sm-12 col-md-1"></div>
          <div class="input-group input-group-lg col-12 col-sm-12 col-md-10">
            <input type="text" class="form-control rounded-pill ipt" placeholder="{{ 'c24' | translate  }}">
          </div>
          <div class="col-12 col-sm-12 col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button type="button" class="btn rounded-pill btn-color text-uppercase">{{  'b2'  | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<footer class="">
  <div class="text-center py-3" [style.backgroundColor]="'#ebebeb'">
    <p class="mb-0">© Speekpod 2018.</p>
    {{ "c25" | translate  }}<strong>Botory Ltd.</strong>
  </div>
  <div>
    <div class="list-group list-group-horizontal justify-content-center">
      <a class="list-group-item border-0" (click)="setLang('en')"><img src="../assets/images/en.png"/></a>
      <a class="list-group-item border-0" (click)="setLang('es')"><img src="../assets/images/es.png"/></a>
    </div>
  </div>
</footer>
<go-top-button   [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '50%',
                    'color': '#b0b0b0', 
                    'border': '2px solid #e8e8e8',
                    'background-color': 'transparent',
                    'height': '52px',
                    'width': '52px',
                    'position': 'fixed',
                    'right': '3%',
                    'top': '90%',
                    'line-height': '48px',
                    'font-size': '22px'
                 }">
        <fa name='arrow-up'></fa>
</go-top-button>