.banner {
	height: 100vh;
	min-height: 500px;
	background-image: url('../assets/images/back.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner::after{
	background: radial-gradient(circle,#d0ba8e 20%,#360309 85%,#1d0210 100%);
    mix-blend-mode: overlay;
}

.logo{
	top: 6%;
	left: 3%;
}
@media (max-width: 767px)
{
	.logo{
		display: none;
	}
}
.btn-color{
	background-color: rgb(69, 43, 134);
	border-color: rgb(69, 43, 134);
	color: white;
}

.separator{
	height: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #616771;
	opacity: 0.3;
	width: 50px;
}
.signup-form{
	background-image: url("../assets/images/timefire_ultimo.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.ipt{
	background-color: rgba(255,255,255,0.3);
	border: 1px solid white;
	color: white;
}
.ipt::placeholder{
	color: white;
}
h1{
	font-size: 50px !important;
    line-height: 48px !important;
	font-weight: 600 !important;
	font-family: Montserrat;

}
h2{
	color: #37404d !important;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 600 !important;
    text-transform: none;
}
h4{
	font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-transform: none;
}
h5{
	font-size: 15px;
	line-height: 1.571428571428571em;
	font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
p{
	color: #616771;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
	margin-bottom: 10px;
	line-height: 26px;
}
strong{
	font-weight: bold;
}
.subtitle{
	line-height: 35px;
    font-weight: 600;
	color: rgb(255, 255, 255);
	letter-spacing: 0px;
	font-family: "Open Sans";
	font-size: 22px !important;
}
.btn{
	white-space: nowrap;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
}